:root {
    color-scheme: dark dark;
    --background: #24211f;
    --accent: #ffa400;
    --accent-bg: #654100;
    --accent-text: #ffefe5;
    --border: #8f5d00;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 0.8rem;
    margin: 0;
}

body {
    margin: 0;
}

#app {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    min-height: 100dvh;
    color: var(--accent-text);
    background-color: var(--background);
}

.actionButtons {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
}

pre {
    flex-grow: 1;
    font-size: 0.7rem;
    display: block;
    padding: 0.4rem;
    margin: 0;
    text-wrap: wrap;
    border: 1px solid var(--accent);
    border-radius: 4px;
    overflow: auto;
    background-color: #171514;
}

code {
    display: block;
}

button {
    padding: 0.4rem 0.6rem;
    color: var(--accent-text);
    border: 1px solid var(--accent);
    border-radius: 2px;
    background-color: var(--accent-bg);
}

button:active {
    transform: perspective(300px) translate3d(0, 0, -10px);
}

.logTimestamp {
    display: none;
}

.showLogTimestamp .logTimestamp {
    display: initial;
}

.log.info {
    color: #69ff6f;
}

.log.error {
    color: #ff3535;
}

form {
    display: flex;
    gap: 0.6rem;
}

form input {
    flex-grow: 1;
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--accent);
    border-radius: 2px;
    background-color: #171514;
}

#commands {
    display: flex;
    flex-shrink: 0;
    gap: 0.6rem;
    line-height: calc(1rem + 2 * 0.4rem);
    flex-direction: row;
    justify-items: center;
    overflow-x: auto;
    overflow-y: unset;
}

#commands button {
    text-wrap: nowrap;
}